body
{
	background-color: #1D3557;
}

#title 
{
    font-size: 60px;
    width: 100%;
    text-align: center;
    font-family: arial black;
    color: #8ACED0;
}

#inner-title
{
    font-size: 25px;
    width: 100%;
    text-align: center;
    font-family: arial black;
	margin-top:-40px;
	margin-bottom: 30px;
    color: #ED6A5A;
}

.buttons
{
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01,sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}
}

@media (min-width: 768px) {
  .buttons {
    padding: 19px 32px;
  }
}

.buttons:before,
.buttons:after {
  border-radius: 80px;
}

.buttons:before {
  background-image: linear-gradient(92.83deg, #ED6A5A 0, #ED6A5A 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.buttons:after {
  background-color: initial;
  background-image: linear-gradient(#1D3557 0, #1D3557 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.buttons:hover:not(:disabled):before {
  background: linear-gradient(#F39C91 0%, #ED6A5A 100%);
}

.buttons:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.buttons:active:not(:disabled) {
  color: #ccc;
}

.buttons:active:not(:disabled):before {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.buttons:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.buttons:disabled {
  cursor: default;
  opacity: .24;
}

#loginName
{
	font-size: 30px;
	width: 25%;
	margin-left: 37.5%;
	background-color: #294B7A;
	color: #FFFFFF;
	
}
#loginPassword
{
	font-size: 30px;
	width: 25%;
	margin-left: 37.5%;
	background-color: #294B7A;
	color: #FFFFFF;
}

#registerFirst
{
	font-size: 30px;
	width: 25%;
	margin-left: 37.5%;
	background-color: #294B7A;
	color: #FFFFFF;
}
#registerLast
{
	font-size: 30px;
	width: 25%;
	margin-left: 37.5%;
	background-color: #294B7A;
	color: #FFFFFF;
}
#registerName
{
	font-size: 30px;
	width: 25%;
	margin-left: 37.5%;
	background-color: #294B7A;
	color: #FFFFFF;
}
#registerPassword
{
	font-size: 30px;
	width: 25%;
	margin-left: 37.5%;
	background-color: #294B7A;
	color: #FFFFFF;
}

input[type="text"],input[type="password"],input[type="tel"],input[type="email"]
{
    border-radius: 0px;
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 2%;
    font-family: helvetica;
}

#loginResult
{
    display: inline-block;
    font-size: 15px;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: verdana;
	font-weight: bold;
    color: #8ACED0;
}

#registerResult
{
    display: inline-block;
    font-size: 15px;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: verdana;
	font-weight: bold;
    color: #8ACED0;
}

#signInScreenButton
{
	margin-top: 30px;
	margin-left: 1200px;
	font-size: 20px;
}

#loginButton
{	
	width: 15%;
	font-size: 20px;
	margin-left: 42.5%;
}

#loginScreenButton
{
	margin-top: 30px;
	margin-left: 1200px;
	font-size: 20px;
}

#registerButton
{
	width: 15%;
	font-size: 20px;
	margin-left: 42.5%;
}


#searchBar
{
	font-size: 30px;
	width: 25%;
	margin-left: 37.5%;
	margin-top: -2%;
	background-color: #294B7A;
	color: #FFFFFF;
}

#searchButton
{
	width: 8%;
	margin-left: 46%;
	margin-top: -1%;
}

#addButton
{
	width: 8%;
	margin-left: 46%;
	margin-top: -1.5%;
}
#addContactsDiv
{
	width: 100%;
	padding: 15px;
}

#logoutButton
{
	margin-top: 30px;
	margin-left: 1200px;
	font-size: 20px;
}

#contactListDiv
{
  width: 70%;
  margin-left: 15%;
Margin-top: 3%;
Margin-bottom: 10%;
  background-color: #1D3557;
}

#contactNameText
{
    font-size: 22px;
    width: 100%;
    text-align: center;
    font-family: arial black;
    color: #8ACED0;
}
#contactPhoneText
{
 font-size: 22px;
    width: 100%;
    text-align: center;
    Margin-top: -3%;
    font-family: arial black;
    color: #8ACED0;
}

#contactEmailText
{ font-size: 22px;
    width: 100%;
    text-align: center;
    Margin-top: -3%;
    font-family: arial black;
    color: #8ACED0;
}

#updateButton
{
    margin-left: 30%;
}
#deleteButton
{
    margin-left: 5%;
}

#contactSearchResult
{
    display: inline-block;
    font-size: 15px;
    width: 100%;
    text-align: center;
    Margin-top: 1%;
    Margin-bottom: 2%;
    font-family: verdana;
	font-weight: bold;
    color: #8ACED0;
}

#searchPrompt
{
font-size: 25px;
    width: 100%;
    text-align: center;
    font-family: arial black;
	margin-top: -1%;
	margin-bottom: 3%;
    color: #ED6A5A;
}

#addPrompt
{
	font-size: 25px;
    width: 100%;
	margin-top: -2.5%;
    text-align: center;
    font-family: arial black;
	margin-bottom: 30px;
    color: #ED6A5A;
}

#addContactButton
{
	width: 15%;
	margin-left: 42.5%;
	margin-top: 1%;
}

#newContactTitle
{
	font-size: 25px;
    width: 100%;
    text-align: center;
    font-family: arial black;
	margin-top: -2%;
	margin-bottom: 30px;
    color: #ED6A5A;
}

#addContactForm
{
  width: 70%;
  margin-left: 15%;
  background-color: #24416B;
  margin-bottom: 2.5%;
}

#closeButton
{
	font-size: 20px;
    border-radius: 0px;
    width: 5%;
	margin-left: 95%;
}

#updateContactButton
{
	width: 20%;
	margin-left: 40%;
	margin-top: 1%;
	
}

#addName
{
	font-size: 30px;
	width: 25%;
	margin-left: 37.5%;
	background-color: #294B7A;
	color: #FFFFFF;
}
#addPhone
{
	
	font-size: 30px;
	width: 25%;
	margin-left: 37.5%;
	background-color: #294B7A;
	color: #FFFFFF;
}
#addEmail
{
	
	font-size: 30px;
	width: 25%;
	margin-left: 37.5%;
	background-color: #294B7A;
	color: #FFFFFF;
}
#addResult
{
    display: inline-block;
    font-size: 15px;
    width: 100%;
    text-align: center;
    Margin-top: 2%;
    font-family: verdana;
    font-weight: bold;
    color: #8ACED0;
}

#closeUpdateButton
{
	font-size: 20px;
    border-radius: 0px;
	font-weight: bold;
    width: 5%;
    font-family: helvetica;
	margin-left: 95%;
}

.updateName
{
	font-size: 30px;
	width: 25%;
	margin-left: 37.5%;
	background-color: #294B7A;
	color: #FFFFFF;
}
.updateEmail
{
	font-size: 30px;
	width: 25%;
	margin-left: 37.5%;
	background-color: #294B7A;
	color: #FFFFFF;
}
.updatePhone
{
	font-size: 30px;
	width: 25%;
	margin-left: 37.5%;
	background-color: #294B7A;
	color: #FFFFFF;
}
#updateResult
{
    display: inline-block;
    font-size: 15px;
    width: 100%;
    text-align: center;
    Margin-top: 2%;

    font-family: verdana;
	font-weight: bold;
    color: #8ACED0;
}
.updateResult
{
    display: inline-block;
    font-size: 15px;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: verdana;
	font-weight: bold;
    color: #8ACED0;
}